p {
  margin-top: 0;
  margin-bottom: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}


/* Todo lo que esta en este estilo lo heredara la pagina*/
body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 80px;
  background-color: rgb(248, 248, 248);
}