

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 40px;
  padding-left: 10px;
  padding-top: 7px;
  padding-right: 10px;
}

@media (max-width: 950px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 951px) and (max-width: 1149px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1150px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail {
  width: 100%;
  border-radius: 20px;
}

.thumbnail:hover {
  border-radius: 0px;
  transition: .15s;
  transform: scale(1.05);
  cursor: pointer;
}



.video-preview {
  
}

.thumbnail-row {
  margin-bottom: 10px;
  position: relative;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-picture {
  vertical-align: top;
}

.profile-picture {
  width: 37px;
  border-radius: 50px;
}

.video-info {
  
}

.video-title {
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 5px;
}

.video-author:hover {
  cursor: pointer;
  color: black;
}

.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);


}